.notifications {
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    left: 2px !important;
    right: 2px !important;
    width: calc(100% - 4px) !important;
  }

  .vue-notification {
    text-align: right;
    border: none !important;
    @include box-shadow($box-shadow-sm);

    @media (max-width: map-get($grid-breakpoints, 'md')) {
      text-align: center;
    }

    &.warn {
      color: $white;
      background: $warning;
    }

    &.danger {
      color: $white;
      background-color: $danger;
    }

    &.success {
      color: $white;
      background: $success;
    }

    .notification-title {
      font-size: 17px !important;
    }
  }
}
